@tailwind base;
@tailwind components;
@tailwind utilities;

*
{     font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

body, html, #app {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}


:root {
    --primary-green: #034b0b;
    --primary-black: #020B0A;
    --primary-gold:  #decc00;
}

/********************NavBar Styling*************/
.navBar {
    box-sizing: border-box;
    position: absolute;
    background-color: white;
    height: 6rem;
    min-width: 100%;
    color: black;
    display: flex;
    flex-direction: row;
    padding: .3rem;
    z-index: 2;
    font-size: 1.5rem;
}
.leftNavBox {
    margin-left: 1rem;
    height: 100%;
}

.rightNavBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
    gap: 2rem;
    margin-left: 4rem;
}

.navButton {
    text-align: center;
    text-wrap: nowrap;
    transition: .2s;
    text-decoration: none;
    color: var(--primary-green);
    border-bottom: 2px solid transparent;
}

.navButton.active {
    border-bottom: 2px solid var(--primary-gold);
}

.navButton:last-child{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 1rem;
    gap: .3rem
}
.phoneLogo {
    height: 1.3rem
}
.navButton:hover {
    color: var(--primary-gold);
    cursor: pointer;
    transition: .2s;
}

.logo {
    height: 100%;
    min-width: 90px
}

.pageWrap {
    padding-top: 6rem;
    height: 100%;
    box-sizing: border-box;
}

@media screen and (max-width: 720px) {
    .rightNavBox {
        margin: 0;
        width: 100%;
        justify-content: space-around;
    }
    .navButton.phone {
        display: none;
    }
    .leftNavBox {
        margin: 0;
    }


}
@media screen and (max-width: 470px) {
    .rightNavBox {
        width: 100%;
        font-size: 1.2rem;
    }
    .leftNavBox {
        display: none;
    }

}