.routePage.home {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    z-index: 4;
} 

h3 {
    margin: 0;
}

.caraselBox {
    color: white;
    position: relative;
    box-sizing: border-box;
    width: 100%;  
    display: flex;
    max-height: 1200px;
    height: 500px;
}

.imageSliderContainer {
    min-width: 100%;
    height: 100%;
    display: flex;  
    overflow: hidden;
    z-index: 1;
}

.images {
    display: absolute;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    object-fit: cover;
}

.contactBox {
    display: flex;
    justify-content: center;
    color: var(--primary-gold);
    width: 100%;
    transition: .2s;
    padding-top: 1rem;
    box-sizing: border-box;
}
.contactBoxContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 950px) {
    .contactBoxContainer {
        grid-template-columns: 1fr;
        gap: 1.5rem;
        max-width: 100%;
    }
    .contactBox {
        max-width: 100%;
    }
    
}
.contactBox input {
    color: black;
}

.errorText {
    color: red;;
}

input:focus ~ .contactBox {
    background-color: red;
    opacity: 1;
}

.caraBox h1 {
    margin-top: 0rem;
    font-size: 3.4rem;
    color: var(--primary-gold);
    text-align: center;
}
.caraBox {
    display: flex;
    z-index: 1;
    flex-direction: column;
    display: flex;  
    flex-direction: column;
    gap: .3rem;
    padding: 1rem;
    font-weight: bold;
    width: 30rem;
    max-width: 100%;
    background-color: var(--primary-green);
    border-radius: 10px;
}

.caraBox button {
    color: var(--primary-green);
    outline: 0;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 0 ;
    background-color: var(--primary-gold);;
    font-size: 1.8rem;
    z-index: 1;
    cursor: pointer;
    transition: .2s;
    margin-top: 1rem
}
.caraBox button:hover {
    color: var(--primary-gold);
    background-color: var(--primary-green);
    transition: .2s;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
}

.landscapeBox {
    min-width: 100%;
    max-width: 100%;
}
.landscapeBox div h1 {
    text-align: center;
    margin-top: 0;
}
.landscapeOptions {
    box-sizing: border-box;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 3rem;
    column-gap: 1rem;
    padding: 1rem;
}
.landscapeOptions img {
    border: 4px solid #020B0A;
    border-radius: 10px;
    width: 20rem;
    box-shadow: -6px 6px 10px 0;
}


.inputDivBox {
    width: 100%;
}

.inputDivBox input {
    outline: none;
    border: 2px solid black;
    border-radius: 3px;
    padding: .4rem;
    width: 100%;
    box-sizing: border-box;
}
.nameBox {
   display: grid;
   grid-template-columns: 1fr 1fr;
   width: 100%;
   gap: .5rem
}
.errorBox {
    width: 100%;
    height: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.labelInputBox{
    display: flex;
    flex-direction: column;
    gap: .3rem;
    justify-content: space-between;
}

.arrowContainer{
    z-index: 2;
    position: absolute;
    height: 100%;
    display: grid;
    place-content: center;
    width: 3rem;
    transition: .2s;
}
.arrowContainer svg {
    fill: black;
}

.arrowContainer.right {
    right: 0
}
.arrowContainer:hover {
    cursor: pointer;
    background-color: rgb(0,0,0,.4);
    transition: .2s;
}

.mapContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.mapContainer h1 {
    font-size: 2em;
}
.visualMapContainer {
    padding: 1rem;
    width: 80%;
}

#map {
    max-height: 600;
    height: 500px;
    min-height: 100px;
    box-sizing: border-box;
}

/***********************FOOTER************************/

.homeFooterContainer {
    padding-bottom: 1rem;
}
.homeFooter {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: clamp(1rem, 2.5vw,  3rem)
}

.homeFooter a {
    color: var(--primary-green);
    transition: .2s;
}
.homeFooter a:hover {
    color: var(--primary-gold);
    transition: .2s;    
}
.footerLogo {
    height: 2.5rem
}

.footerLogoBox {
    display: flex;
    align-self: flex-start;
    align-items: center;
    justify-content: center;
    gap:.3rem
}
/******************END FOOTER************************/


.vouchQuoteBox {
    position: absolute;
    position: absolute;
    top: 50%;           
    left: 50%;          
    transform: translate(-50%, -100%); 
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}

.vouchQuoteBox h1 {
    font-weight: bold;
    color: var(--primary-gold);
    font-size: 3vw;
    text-wrap: nowrap;
} 

.swiper-wrapper {
    position: relative;
}

.getQuoteButton {
    color: var(--primary-green);
    outline: 0;
    border-top-right-radius: 1.3vw;
    border-bottom-left-radius: 1.3vw;
    border: 0 ;
    background-color: var(--primary-gold);;
    font-size: 1.8vw;
    z-index: 1;
    cursor: pointer;
    transition: .2s;
    padding: .2rem;
    margin-top: 1vw;
}

.getQuoteButton:hover {
    color: var(--primary-gold);
    background-color: var(--primary-green);
    transition: .2s;
    border-bottom-right-radius: 1.3vw;
    border-top-left-radius: 1.3vw;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
}
.swiper {
    height: 35vw; 
    width: 70vw;
    border-radius: 10px
}

.contactBoxTwo {
    font-weight: bold;

    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem
}
.contactBox h1 {
    font-size: 2rem;
}
.contactBox h2 {
    font-size: 1.2rem;
}
.contactBox2Mini {
    display: flex;
    gap: .5rem;
}

.serviceContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 20px;
    max-width: 1300px;
    margin: 0 auto;
    background-color: #f9f9f9; /* Light background for the section */
  }
  
  /* Style for individual service cards */
  .serviceCard {
    background-color: #ffffff; /* White background for each card */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
    width: 22%; /* Each card takes up 1/4th of the container */
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  

  .serviceCard:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
  

  .serviceCard h3 {
    font-size: 20px;
    color: var(--primary-green);
    margin-bottom: 10px;
    font-weight: bold;
  }

  .serviceCard p {
    font-size: 16px;
    color: #555; 
    line-height: 1.5;
  }
  

  @media (max-width: 1000px) {
    .serviceCard {
      width: 48%; 
    }
  }
  
  @media (max-width: 480px) {
    .serviceCard {
      width: 100%; 
    }
  }

  .serviceBox {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .serviceBox h1 {
    font-size: 2rem;
    font-weight: bold;
    ;
  }